<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="/minesweeperCSS/index.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<meta charset="utf-8">
<title>Gamestudio</title>
</head>
<body>
	<div class="container">
		<div class="row">
		
			<div class="col-sm-12">
				<h1>Welcome to Game studio!</h1>
			</div>

	
		<div class="col-sm-4">
			<form action="login">
				Login:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name" /><br />
				 Password: <input type="password" name="passwd" /><br /> 
					<input type="submit" value="Login" />
			</form><br /> 
			<form action="register">
				Login:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name" /><br />
				 Password: <input type="password" name="passwd" /><br /> 
					<input type="submit" value="Register" />
			</form>
		</div>

		<div class="col-sm-8">
			<a href="/puzzle"><img class="obrazok" src='/img/puzzle/img1.jpg' /></a> &nbsp;&nbsp;&nbsp; 
					
			 <a	href="/minesweeper"><img class="daco obrazok" src='/img/puzzle/unnamed.png'/></a>
			 
             <a href="/guess"><img class="obrazok" src='/img/puzzle/gs.png'/></a>
              <a href="/russianRoulette"><img class="daco obrazok" src='/img/puzzle/gun.png'/></a>
		</div>
		
		</div>
	</div>

</body>
</html>
